* {
	color: #dc9;
}

html, body {
	margin: 0%;
	height: 100%;
}

body {
	background: #000;
	background: radial-gradient(circle, #134, #000);
	background: -o-radial-gradient(circle, #134, #000);
	background: -moz-radial-gradient(circle, #134, #000);
	background: -webkit-radial-gradient(circle, #134, #000);
	background-attachment: fixed;
}

.transparent {
	opacity: 0.6;
}

span {
	line-height: 1em;
}

input, button, select, option, .more {
	background-color: #000;
}

#readmes, #formContainer, #data {
	float: left;
	margin: 1px 1em;
}

#username, #championName {
	background-size: contain;
	background-position: right;
	background-repeat: no-repeat;
}

#progress {
	display: inline-block;
}

#submit[disabled] {
	opacity: 0.5;
}

#result {
	clear: left;
	display: flex;
	justify-content: space-between;
}

#duration {
	margin: 1px 0;
	outline: 1px solid #888;
}

svg:empty {
	display: none;
}

table {
	margin: 0 0 1em;
	border: 1px solid #888;
	border-radius: 12px;
}

.belowMinimum, .filter-only-completed tbody .filter-into, .filter-only-completed tbody tr:not(.filter-from) {
	display: none;
}

.showAll .belowMinimum {
	display: table-row;
}

.sortable th, .notYetSortable th {
	background: #aaa;
	background: linear-gradient(#dc9, #aaa);
	background: -o-linear-gradient(#dc9, #aaa);
	background: -moz-linear-gradient(#dc9, #aaa);
	background: -webkit-linear-gradient(#dc9, #aaa);
}

th.sorttable_sorted, th.sorttable_sorted_reverse {
	background: #dc9;
	background: linear-gradient(#aaa, #dc9);
	background: -o-linear-gradient(#aaa, #dc9);
	background: -moz-linear-gradient(#aaa, #dc9);
	background: -webkit-linear-gradient(#aaa, #dc9);
}

.sortable th, .revealButton {
	cursor: pointer !important;
}

.sortable th:hover {
	box-shadow: 0 0 0 2px #fff;
}

.sortable th.sorttable_sorted:before {
	content: "\25B4";
	text-shadow: 0 0 2px #f00;
	color: #000;
}

.sortable th:not(sorttable_sorted):before {
	content: "\25B5";
	text-shadow: 0 0 2px #fff;
	color: #777;
}

.sortable th.sorttable_sorted_reverse:after {
	content: "\25BE";
	text-shadow: 0 0 2px #f00;
	color: #000;
}

.sortable th:not(sorttable_sorted_reverse):after {
	content: "\25BF";
	text-shadow: 0 0 2px #fff;
	color: #777;
}

th:first-child, td:first-child {
	max-width: 12ex;
}

th {
	font-size: 120%;
	background-color: #ccc;
	color: #000;
}

th:first-child {
	border-top-left-radius: 8px;
}

th:last-child {
	border-top-right-radius: 8px;
}

th > div {
	color: inherit;
	background-color: transparent;
}

.rotated {
	width: 1.25em;
	line-height: 1;
	transform: rotate(90deg);
	margin: 0 0 2.5ex calc(50% - 0.625em);
}

td:nth-child(2n) {
	background-color: #134;
}

td:nth-child(2n+1) {
	background-color: #000;
}

.statNumber {
	text-align: right;
	font-size: 80%;
}

.statNumber::first-letter {
	font-size: 125%;
}

.statName {
	overflow: hidden;
	white-space: nowrap;
}

.statName span {
	background-color: inherit;
}

tbody > tr:hover {
	outline: solid white 1px;
}

input, select, button {
	border-color: #888;
}

input:hover, select:hover, button:hover {
	border-color: #fff;
}

input:focus, select:focus, button:focus {
	background-color: #fff;
	color: #000;
}

.mouseover, [title] {
	cursor: help;
}

.mouseover {
	padding: 0.5em;
	border: dashed 1px #fff;
}

.mouseover > .more {
	cursor: auto;
}

.more {
	visibility: hidden;
	display: inline-block;
	position: absolute;
	z-index: 100;
	padding: 1em;
	border: dashed 1px #fff;
	max-width: 60em;
}

:hover > .more {
	visibility: visible;
}